/** {
    font: normal 13px Tahoma, Arial, Verdana;
    	color: #333333;
}

body {
}*/

/*
  
  iOS 7 Switch
   
  Sample Image : http://cdn.macrumors.com/article-new/2013/06/cellular.png
  Dribble Shot : http://dribbble.com/shots/1109255--GIF-iOS-7-switch-3

*/
 .holder {
  width:56px;
  height: 30px;
  margin:20px auto;
  position: absolute;
}
.check-ios {
  visibility: hidden;
}
.holder span {
  background-color:#e2e2e2;
  display:block;
  height:30px;
  width:54px;
  position: absolute;
  top:0;
  left:0;
  z-index:1;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}
.holder span:after {
  background-color:#fff;
  content:'';
  display:block;
  height:28px;
  width:52px;
  position: absolute;
  top:1px;
  left:1px;
  z-index:2;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}
.holder label {
  background: #fff;
  cursor: pointer;
  display: block;
  height: 28px;
  width: 28px;
  position: absolute;
  top:1px;
  left:1px;
  z-index:3;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
  -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
}
.check-ios:checked ~ span {
  background-color:#4FD065;
}
.check-ios:checked ~ span:after {
  height:0;
  width:0;
  left:50%;
  top:50%;
}
.check-ios:checked + label {
  left: 25px;
}