<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
     
    <!-- =========== FILTROS ============= -->
    <!--    <filter>
        <filter-name>Character Encoding Filter</filter-name>
        <filter-class>org.primefaces.adamantium.filter.CharacterEncodingFilter</filter-class>
    </filter>-->
    
    <!--    <filter-mapping>
        <filter-name>Character Encoding Filter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>-->
    
    <!-- Spring (Jpa Support) - OpenEntityManagerInViewFilter -->
<!--    <filter>
        <filter-name>openEntityManager</filter-name>
        <filter-class>
            org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>openEntityManager</filter-name>
        <url-pattern>*.reinopet</url-pattern>
    </filter-mapping>-->
     
    <!-- ************* LISTENER ************* -->
    <!--    <listener>
        <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
    </listener>-->
    
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
    
    <!-- *************** SERVLETS ************ -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.reinopet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/ws/*</url-pattern>
    </servlet-mapping>
    
    <!-- ************* PARAMETROS ************* -->
    <!-- Time in seconds that facelets should be checked for changes since last request. A value of -1 disables refresh checking. -->
    <!--    <context-param>
        <param-name>javax.faces.FACELETS_REFRESH_PERIOD</param-name>
        <param-value>1</param-value>
    </context-param>-->
    
    <!--    <context-param> 
        <param-name>com.sun.faces.writeStateAtFormEnd</param-name> 
        <param-value>false</param-value> 
    </context-param>-->
    
    <!--    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
    </context-param>-->
    
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    
    <context-param>
        <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
        <param-value>.xhtml</param-value>
    </context-param>
    
    <!--Client Side Validation. CVS is disabled by default and a global parameter is required to turn it on-->
    <context-param>
        <param-name>primefaces.CLIENT_SIDE_VALIDATION</param-name>
        <param-value>true</param-value>
    </context-param>
    
    <!--    <context-param>
        <param-name>com.sun.faces.enableRestoreView11Compatibility</param-name>
        <param-value>true</param-value>
    </context-param>-->
    
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>adamantium</param-value>
    </context-param>
    
    <context-param>
        <param-name>javax.faces.FACELETS_LIBRARIES</param-name>
        <param-value>/WEB-INF/primefaces-adamantium.taglib.xml</param-value>
    </context-param>
    
    <context-param>
        <param-name>primefaces.TRANSFORM_METADATA</param-name>
        <param-value>true</param-value>
    </context-param>
    
    <context-param>
        <param-name>javax.faces.FACELETS_BUFFER_SIZE</param-name>         
        <param-value>65535</param-value>
    </context-param>
    
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error.reinopet</location>
    </error-page>
    
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/view-expired.reinopet</location>
    </error-page>
    
    <error-page>
        <error-code>404</error-code>
        <location>/404.reinopet</location>
    </error-page>
    
    <session-config>
        <session-timeout>20</session-timeout>
    </session-config>
    
    <!--    <security-constraint> 
        <web-resource-collection>  
            <web-resource-name>xhtml files</web-resource-name>  
            <url-pattern>*.xhtml</url-pattern> 
        </web-resource-collection>  
        <auth-constraint>
            <role-name>PARTNER</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>-->
    
    <welcome-file-list>
        <welcome-file>/redirect.jsp</welcome-file>
    </welcome-file-list>
   
    <!-- ************* MIME TYPE ************* -->
    <mime-mapping>
        <extension>ttf</extension>
        <mime-type>application/font-sfnt</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff</extension>
        <mime-type>application/font-woff</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff2</extension>
        <mime-type>application/font-woff2</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>eot</extension>
        <mime-type>application/vnd.ms-fontobject</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>eot?#iefix</extension>
        <mime-type>application/vnd.ms-fontobject</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>svg</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>svg#exosemibold</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>svg#exobolditalic</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>svg#exomedium</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>svg#exoregular</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>svg#fontawesomeregular</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>
</web-app>
